<footer>

    <div class="footer-wrapper">
        <h3 class="page-title">Express App &copy; <%= new Date ().getFullYear() %></h3>
        <small>HTML, CSS, JS, EJS, Node.js, Express, MongoDB and Mongoose are used to build this web
            application.</small>
    </div>

</footer>