<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/ce3e7ed90f.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Oswald|Cardo:400,400i&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../styles/normalize.css" />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/header.css" />
    <link rel="stylesheet" href="../../styles/form.css" />
    <link rel="stylesheet" href="../../styles/footer.css" />
    <link rel="stylesheet" href="../../styles/icons.css" />
    <link rel="stylesheet" href="../../styles/buttons.css" />
    <link rel="stylesheet" href="../../styles/about.css" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <title>Express App</title>
</head>