<div class="header-wrapper__nav">
    <a href="/">
        <h1 class="brand-name">MEEN APP</h1>
    </a>

    <ul class="header-wrapper__nav_list">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>

        <li>
            <a href="/students">Students</a>
        </li>
        <li>
            <a href="/student/add">Add</a>
        </li>
        <li>
            <a href="/api/v1.0.0/students">API</a>
        </li>
    </ul>

</div>