<%- include('../partials/head') %>

<body>
    <div class="wrapper">
        <header>
            <div class="header-wrapper">
                <%- include('../partials/navbar') %>
                <h3 class="page-title">Contact Us</h3>
            </div>
        </header>
        <main>
            <div class="main-wrapper">

                <address>
                    Express App <br />
                    Finland, Helsinki <br />
                    02210 <br />
                    +358451000000 <br />
                    Finland
                </address>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </div>

</body>

</html>