<%- include('../partials/head') %>

<body>
    <div class="wrapper">
        <header>
            <div class="header-wrapper">
                <%- include('../partials/navbar') %>
                <h3 class="page-title">Express Web Application</h3>
            </div>
        </header>

        <main>
            <div class="main-wrapper">

                <div class="web-techs">
                    <div class="web-techs__view">
                        <section>
                            <h4 class="web_techs__title">Front End Technologies</h3>
                                <article class="web-tech__images">
                                    <img src="images/html_logo.png" alt="HTML Logo" />
                                    <img src="images/css_logo.png" alt="HTML Logo" />
                                    <img src="images/js_logo.png" alt="HTML Logo" />
                                    <img src="images/ejs_logo.png" alt="HTML Logo" />
                                </article>

                        </section>
                    </div>
                    <div class="web-techs__server">
                        <section>
                            <h4 class="web_techs__title">Backend Technologies</h4>
                            <article class="web-tech__images">
                                <img src="images/mongodb.png" alt="HTML Logo" />
                                <img src="images/mongoose.png" alt="HTML Logo" />
                                <img src="images/node_logo.png" alt="HTML Logo" />
                            </article>
                        </section>

                    </div>
                </div>
            </div>

        </main>
        <%- include('../partials/footer') %>

    </div>

</body>

</html>